---
layout: default
---
<main class="page">
  <section class="list-hero">
    <p class="eyebrow">Tag</p>
    <h1>#{{ page.tag }}</h1>
  </section>

  {% assign tag_posts = site.tags[page.tag] %}
  <div class="post-list">
    {% for post in tag_posts %}
    <a class="post-row" href="{{ post.url | relative_url }}">
      <span class="post-row__date">{{ post.date | date: '%Y.%m.%d' }}</span>
      <span class="post-row__title">{{ post.title }}</span>
      <span class="post-row__meta">{% assign first_category = post.category | default: post.categories[0] %}{{ first_category }}</span>
    </a>
    {% endfor %}
  </div>
</main>

